# Ignore model folders
Model/Lecture_summarizer/
Model/whisper-base/
backend/.venv/
backend/services/local_variables.py

# Ignore datasets
Data/

# Temporary and system files
__pycache__/
*.log
*.tmp
.DS_Store
Thumbs.db

